//
// UI Signin SCSS
// ...
//

.ui-signin {
    display: flex;
    margin: auto;
    width: max-content;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: max-content;
        row-gap: 0.5rem;
    }

    &__action-btn {
        display: flex;

        &:hover {
            cursor: pointer;
            background-color: gray;
        }
    }
}

//
// END
//
