//
// Container SCSS
// ...
//

.ui-container {
    width: 1536px;
    margin: 1.75rem auto;

    &--relative {
        position: relative;
        width: 100%;
        height: 100vh;
        width: 100vw;
    }
}

//
// END
//
